@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Roboto:wght@400;700&display=swap');

* { 
    box-sizing: border-box;
}

body { 
    font-family: 'Roboto', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


.card {
    cursor: pointer;
}

.card-sydney { 
    width: 300px; /* initial width */
    transition: width 0.3s ease; /* Smooth transition for the width */
}

.card-sydney.expanded { 
    width: 800px;
}